body{
    background-image: url('../image/background.jpg');
}



.content-box{
    display: flex;
    flex-direction: column;    
    background-color: #c48d83;
    justify-content: center;
    margin: 0% 15% 0% 15%;
}

.infograph{
    margin-top: 10%;
    margin-bottom: 15%;
    margin-right: 5%;
    margin-left: 5%;
}

.top{
    display: flex;
    flex-direction: row;
}

.top-left-section{
    flex-direction: column;
    display: flex;
    width: 50%;
    margin: 0% 1.5% 0% 0%;
}


.title{
    background-color: rgb(248, 238, 238);
    display: flex;
    border-radius: 3em;
    height: 10em;
    margin-bottom: 3%;
    text-align: center;
}

h1{
    font-family: 'LuckiestGuy-Regular';
    font-size: 40px;
    margin-top: 2%;
    color: rgb(132, 26, 12);
}

.introduction{
    display: flex;
    flex-direction: row;
}

.intro-text{
    display: flex;
    flex-direction: column;
}

.intro-info{
    background-color:  rgb(103, 2, 2);
    height: 10em;
    width: 20em;
    border-radius: 1.5em;
    margin-bottom: 5%;
}

h2{
    font-size: 13px;
    margin: 2% 5% 2% 5%;
    line-height: 18px;
    color: rgb(255, 169, 112);
    font-family: 'RobotoCondensed-Regular';
    margin-top: 5%;
}

.intro-direction{
    background-color: rgb(135, 33, 33);
    border-radius: 1.5em;
    margin-bottom: 3%;
    width: 20em;
    text-align: center;
}

h3{
    font-size: 25px;
    font-family: 'RobotoCondensed-Regular';
    color: rgb(240, 185, 130);
}

.cover-image{
    display: flex;
    margin-right: 5%;
}

#panda-cover{
    height: 15em;
    width: 15em;
    display: flex;
}

.fact5-6{
    display: flex;
    flex-direction: row;
    margin-top: 1.5%;
}

.fact5{
    background-color: rgb(248, 238, 238);
    display: flex;
    margin-right: 1.5%;
    border-radius: 1em;
}

.fact6{
    background-color: rgb(248, 238, 238);
    display: flex;
    margin-left: 1.5%;
    border-radius: 1em;
}

p{
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'RobotoCondensed-Regular';
    color: rgb(103, 2, 2);
}

.fact8-9{
    display: flex;
    flex-direction: row;
    margin-top: 3%;
}

.fact8{
    display: flex;
    flex-direction: row;
}

.fact8-info{
    background-color:rgb(103, 2, 2);
    width: 55%;
    display: flex;
    border-radius: 1em;
}

.fact8-img{
    display: flex;
}

#fact8-image{
    width: 10em;
    height: 10em;
}

.fact8 p{
    color: rgb(211, 174, 174);
}

.fact9{
    width: 55%;
    background-color:  rgb(103, 2, 2);
    border-radius: 1em;
}

.fact9 p{
    color:  rgb(211, 174, 174);
}

.fact10{
    display: flex;
    background-color: rgb(248, 238, 238);
    border-radius: 1em;
    margin-top: 3%;
    height: 15%;
}

.top-right-section{
    flex-direction: column;
    display: flex;
    width: 50%;
    margin: 0% 0% 0% 0%;
}

.fact1-4{
    flex-direction: column;
    display: flex;
}

.fact1-2{
    display: flex;
    flex-direction: row;
}

.fact1{
    background-color:  rgb(103, 2, 2);
    display: flex;
    margin: 0% 3% 3% 0%;
    border-radius: 1em;
    width: 50%;
    height: 90%;
}
.fact1 p{
    color: rgb(211, 174, 174);
}

.fact2{
    background-color: rgb(248, 238, 238);
    display: flex;
    margin: 0% 0% 3% 0%;
    border-radius: 1em;
    width: 50%;
    height: 90%;
}

.fact3-4{
    display: flex;
    flex-direction: row;
}

.fact3{
    background-color: rgb(248, 238, 238);
    display: flex;
    margin: 0% 3% 3% 0%;
    border-radius: 1em;
    width: 50%;
    height: 90%;
}

.fact4{
    background-color:  rgb(103, 2, 2);
    display: flex;
    margin: 0% 0% 3% 0%;
    border-radius: 1em;
    width: 50%;
    height: 90%;
}

.fact4 p{
    color: rgb(211, 174, 174);
}

.fact7{
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 238, 238);
    border-radius: 1em;
}

#fact7-text{
    font-size: 20.7px;
}

#fact7{
    width: 80%;
    height: 80%;
    text-align: center;
    margin-left: 8%;
    margin-top: 5%;
}

.bottom{
    margin: 1.5% 0% 0% 0%;
}

.bottom-section{
    display: flex;
    flex-direction: column;
}

.fact11-13{
    display: flex;
    flex-direction:row;
}

.fact11{
    background-color: rgb(248, 238, 238);
    display: flex;
    flex-direction: row;
    border-radius: 1em;
}

#fact11{
    width: 10em;
    height: 10em;
}

.fact12{
    background-color: rgb(248, 238, 238);
    margin: 0% 1.5% 0% 1.5%;
    border-radius: 1em;
}

.fact13{
    background-color:  rgb(103, 2, 2);
    display: flex;
    flex-direction: row;
    border-radius: 1em;
}

.fact13 p{
    color: rgb(211, 174, 174);
}

#fact13{
    height: 10em;
    width: 12em;
}

.fact14-20{
    display: flex;
    flex-direction:row;
    margin-top: 1.5%;
}

.fact14-17{
    display: flex;
    flex-direction:column;
    margin-right: 1.5%;
}

.fact14-15{
    display: flex;
    flex-direction:row;
    margin-bottom: 3%;
}

.fact14{
    background-color: rgb(103, 2, 2);
    margin-right: 3%;
    border-radius: 1em;
    width: 50%;
    height: 100%;
}

.fact14 p{
    color: rgb(211, 174, 174);
}

.fact15{
    background-color: rgb(248, 238, 238);
    border-radius: 1em;
    width: 50%;
    height: 100%;
}

.fact16-17{
    display: flex;
    flex-direction:row;
}

.fact16{
    background-color: rgb(248, 238, 238);
    margin-right: 3%;
    border-radius: 1em;
    width: 50%;
}

.fact16 p{
    padding-bottom: 5%;
}

.fact17{
    background-color: rgb(103, 2, 2);
    border-radius: 1em;
    width: 50%;
}

.fact17 p{
    padding-bottom: 2%;
    color: rgb(211, 174, 174);
}

.fact18-20{
    display: flex;
    flex-direction:row;
}

.fact18{
    background-color: rgb(248, 238, 238);
    margin-right: 3%;
    border-radius: 1em;
    width: 33%;
}

#fact18{
    width: 9em;
    height: 9em;
}

.fact19{
    background-color: rgb(248, 238, 238);
    margin-right: 3%;
    border-radius: 1em;
    width: 33%;
}

.fact19 p{
    font-size: 20px;
}

.fact20{
    background-color: rgb(248, 238, 238);
    border-radius: 1em;
    width: 33%;
}

#fact20{
    width: 9em;
    height: 9em;
}

