@font-face{
    font-family: 'Shrikhand-Regular';
    src:url('../font/Shrikhand-Regular.woff2') format('woff2');
    font-weight: normal;
}

@font-face{
    font-family: 'IndieFlower';
    src:url('../font/IndieFlower.woff2') format('woff2');
    font-weight: normal;
}
