
body {
    font-family: 'IndieFlower',Arial, Helvetica, sans-serif;
    background-image: url(../assets/background.jpg);
    background-repeat: repeat-x repeat-y;
    background-size: contain;

}

h1{
    color: rgb(186, 102, 186);
}

#title{
    font-size: 5rem;
    font-family: 'Shrikhand-Regular';
    text-align: left;
    padding: 1rem 0rem 2rem 20rem;
    color: rgb(243, 95, 144);
}

.container{
    margin-bottom: 6rem;
}

.flower-container {
    margin-left: 35rem;
    margin-right: 35rem;
    display: block;
    margin-top: 2rem;
    border: 3px dashed rgb(255, 146, 30);
    border-radius: 45px;
    text-align: center;
    background: rgb(255, 252, 211);
}

.flower-container:hover {
    transform: scale(1.2); 
    background: rgb(255, 220, 220);
  }

.flower-family {
    display: none;
    color: purple;
}

.flower-image {
    width: 50%;
    height: auto;
    border-radius: 20px;
    display: none;
    margin: 2rem 2rem 2rem 2rem;
}

.flower-family.active {
    display: block;
    text-align: center;
}

.flower-image.active {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.filter {
    padding: 2rem;
    margin-left: 18rem;
    font-size: 2rem;
    color: rgb(29, 165, 29);
}

.pink {
    color: rgb(255, 144, 166);
}

.red {
    color: rgb(246, 85, 85);
}

.purple {
    color: rgb(171, 84, 182);
}

.white {
    color: rgb(197, 193, 161);
}

.yellow {
    color: rgb(255, 187, 0);
}

.blue {
    color: rgb(77, 181, 255);
}

.orange {
    color: rgb(255, 171, 74);
}

.black {
    color: rgb(104, 104, 104);
}

.multi-colored {
    color: rgb(255, 95, 95);
}